body {
	font-family: Avenir; 
}

div.body {
	display: none;

}

div.body.show {
	display: inline-block;
}

/* Trying to keep the #header and #topbar stationary */
/* #top {
	position: fixed;
} */
/* Piles everything in the left corner */

#header {
	background-color: rgba(0,0,0,.08);
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid lightgrey;
}

#logo {
	width: 125px;
	height: 45px;
	margin-left: 35px;
}

#topbar {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	padding: 8px;
}

#mailLogo {
	width: 120px;
	height: 50px;
	margin-left: 15px;

}

#box {
	padding: 8px 30px 8px 30px;
	background-color: rgba(0,0,0,.06);
	margin-left: 108px;
	margin-top: 4px;
	position: absolute;
	border-radius: 2px;
}

.checks {
	width: 20px;
	height: 20px;
}

.star {
	width: 30px;
	height: 30px;
	opacity: 0.8;
	margin-left: 5px;
	margin-right: 10px;
	position: absolute;

}

#refresh {
	padding: 8px 30px 8px 30px;
	background-color: rgba(0,0,0,.06);
	margin-left: 210px;
	margin-top: 4px;
	position: absolute;
	border-radius: 2px;
}

.refreshIcon {
	width: 27px; 
	height: 27px;
	
}

#more {
	font-size: 14px;
	color: #404040;
	padding: 13px 30px 15px 30px;
	background-color: rgba(0,0,0,.06);
	margin-left: 310px;
	margin-top: 4px;
	position: absolute;
	border-radius: 2px;
}

#search{
	height: 45px;
	width: 800px;
	position: absolute;
	margin-left: 100px;
	border: 1px solid lightgrey;
}

#magnifier {
	background-color:#4285f4;
	height: 45px;
	width: 80px;
	position: absolute;
	margin-left: 899px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;

}

.searchIcon {
	height: 20px;
	width: 20px;
}

/* 
h1 {
	text-align: left;
	background-color: rgba(0,0,0,.1);
	padding: 10px;
/*	border: 0.5px solid black;
	background-color: black;
	opacity: 0.4;*/

#compose {
	width: 150px;
	height: 40px;
	background-color:#d14836;
	color: white;
	border: 1px solid transparent;
	border-radius: 3px;
	margin-left: 20px;
}

div#sidebar{
	width: 240px;
	height: 300px;
	border-bottom: 1px solid lightgrey;
	left: 0;
	text-align: left;
	position: fixed;
}

.sides {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-top: 20px;
}

#main {
	margin-left: 250px;
	color: black;
	border-left: 1px solid lightgrey;
	background-color: rgba(0,0,0,.06); 
}

.sender, .subject, .date{
	display: inline-block;
	margin-left: 25px;

}

.sender {
	margin-left: 50px;
}

.emails {
	border-bottom: 1px solid lightgrey;
	padding: 10px;
	padding-left: 30px;
}


.body {
	padding-left: 100px;
	border-top: 1px solid lightgrey;
	}



